{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
    <div class="col-sm-8">


    <h1>Page not found</h1>

    <h2>Sorry, this page could not be found.</h2>

    <p>
    This content has moved to a new site. Try the following links: <br />

    <ul>
        <li><a href="https://www.neighbourhood-planning.co.uk">Home</a></li>
        <li><a href="https://www.neighbourhood-planning.co.uk/blog">Blog</a></li>
        <li><a href="https://www.neighbourhood-planning.co.uk/planfinder">Plan Finder</a></li>
        <li><a href="https://www.neighbourhood-planning.co.uk/services">Tools & Services</a></li>
        <li><a href="https://www.neighbourhood-planning.co.uk/about">About</a></li>
    </ul>

    </p>

</div>
</div>
</div>

{% endblock %}
